.t-white{
    color: #fff;
}
.t-hui{
    color: #ccc;
}
.t-888{
	color: #888;
}
.t-333{
	color: #333;
}
.t-666{
	color: #666;
}
.t-999{
	color: #999;
}
.t-org{
	color: #fe733d;
}
.t-green{
	color: #88c95f;
}
.t-red{
	color: #f00;
}
.bg-white{
    background-color: #fff;
}
.bg-hui{
	background-color: #f5f7f4;
}
