.f11{
    font-size: .22rem;
}
.f12{
    font-size: .24rem;
}
.f13{
    font-size: .26rem;
}
.f14{
    font-size: .28rem;
}
.f15{
    font-size: .30rem;
}
.f16{
    font-size: .32rem;
}
.f17{
    font-size: .34rem;
}
.f18{
    font-size: .36rem;
}
.f20{
    font-size: .4rem;
}
.f22{
    font-size: .44rem;
}
.f28{
    font-size: .56rem;
}
.t-cu{
    font-weight: 600;
}
